.description.panel.light #bg1{
  width: 100%;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.description.panel.light #bg2{
  display: none;
}

@media only screen and (max-width: 800px) {
  .description.panel.light #bg1{
    display: none;
  }
  .description.panel.light #bg2{
    display: block;
  }
}


.panel {
  height: 115vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  scroll-behavior:smooth;
}


.section {
  width: 100%;
  height: 100vh;
}

h1{
  font-size: 5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
  gap: 1rem;
}

.boxes-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.purple {
  height: 100vh;
  min-height: 100vh;
}


/* PANEL 1 */

.panel.one h1{
  margin-top: 0;
  border-bottom: 2px solid white;
}

.panel.one p{
  margin-top: 0;
}

.images1 img{
  max-width: 15%;
  border-radius: 10px;
  align-self: center;
  padding: 5px;
}

.panel.one{
  flex-direction: column;
}

/* PANEL 2 */
.panel.two img{
  max-width: 7%;
  border-radius: 10px;
  float: left;
  margin-left: 2%;
}

.panel.two{
  flex-direction: column;
  justify-content: initial;
  padding-top: 2%;
}


/* PANEL FÄRGER */
.panel.one {
  background-color: #000000;
  color: white;
}
.panel.two {
  background-color: #fbf7f5;
}
.panel.three {
  background-color: #000000;
  color: white;
}

.panel.four {
  background-color: #43C59E;
}


/* SCROLL DOWN "KNAPP"*/
.scroll-down {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  overflow: hidden;
}

.scroll-down .arrow {
  position: relative;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

/* Mobilanpassning */

@media only screen and (max-width: 800px) {
  h1{
    font-size: 2rem;
  }
  .panel.one img{
    max-width: 30%;
  }
}