.cv h1{
    font-size: 300%;
    text-align: center;
}


.utbildning{
    margin-top: 8%;
}

.tables{
    overflow-x: auto;
}

table {
    width: 100%;
    text-align: left;
  }
  
  td,th {
    padding: 8px;
    border-bottom: 1px solid #00A6ED; 
  }
  

  th {
    width: 10%;
    box-sizing: border-box; 
    font-size: 200%;
  }

  
  @media only screen and (max-width: 800px){
    .cv h1{
        font-size: 150%;
    }
  }