#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 1;
}

.homepage h1 {
    text-align: center;
    padding: 0;
    font-size: 7rem;
    animation: fadeIn 1s ease-in-out;
    color: white;
}

.homepage h2{
    text-align: center;
    padding: 0;
    font-size: 3rem;
    font-weight: 500;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
    color: white;
}


@keyframes fadeIn {
    to { opacity: 1; }
    from{opacity: 0;}
  }


.row {
    display: flex;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    text-align: center;
  }
  
.column {
    flex: 100%; /* Full width for each column on smaller screens */
    padding: 5px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 0.5s forwards;
}

img {
    width: 100%; /* Make the images fill the full width of their container */
}

#linkedin{
    width: 40%;
}

#linkedin:hover {
    transform: scale(1.1);
  }
  
#git:hover {
    transform: scale(1.1); 
}
  
@media only screen and (max-width: 800px) {
    .row{
        flex-direction: column;
        min-width: 80%;
    }

    .homepage h1{
        font-size: 4rem;
    }
}