.page{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnleft,.btnright{
    padding: 10px;
    position: absolute;
    cursor: pointer;
    border: 2px solid black;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

.btnleft{
    left: 0;
}

.btnright{
    right: 0;
}

.table-container {
  max-height: 250px; 
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.table-container a {
  color: black;
}


.table-container a:hover {
  color: #00A6ED;
}
  @media only screen and (max-width: 800px) {
    .project {
        margin: auto;
        width: 350px;
        height: 200px;
      }
      .page{
      transform: translate(-50%, -10%);
    }
      
}