@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Protest+Riot&display=swap');
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  text-align: center;
}

.navbar li {
  display:inline-block;
}

.navbar li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.navbar li a:hover {
  color: #00A6ED;
}

@media only screen and (max-width: 800px){
  .navbar li{
    display: flex;
  }
}
